*.pth filter=lfs diff=lfs merge=lfs -text
models/car_single_room/model.pth filter=lfs diff=lfs merge=lfs -text
models/pot_plant_classifier/model.pth filter=lfs diff=lfs merge=lfs -text
models/pot_plant_classifier_gap/model.pth filter=lfs diff=lfs merge=lfs -text
